@font-face {
font-family: "AvenirNextLTPro-Regular";
src: url("fonts/AvenirNextLTPro-Regular.otf");
}
body {
  margin: 0px;
  padding: 0px;
}
.header {
  background-color: #9A9C8C;
  border-bottom: 1px solid black;
  height: 2.4rem;
}
.container {
  align-items: stretch;
  display: flex;
}
.left-panel {
  align-items: center;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  justify-content: center;
}
.track-bin{
  font-family: "AvenirNextLTPro-Regular";
}
.tracks-button {
  font-family: "AvenirNextLTPro-Regular";
  text-transform: lowercase;
}
p {
  color: #580066;
  font-size: 3.6rem;
  text-align: center;
  margin: 0;
}
button {
  background-color: #343625;
  border-radius: 10px;
  color: #DADAD7;
  font-size: 2.4rem;
  margin: 0;
}
.right-panel {
  flex-grow: 1;
}
.railroad {
  min-width: 100%;
  height: 100vh;
  opacity: .19;
}
.railroad-container {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index:auto;
}
.album {
  height: 210px;
  margin-bottom: 25px;
  position: absolute;
  width: 210px;
  z-index: 999;
}
.one {
  margin-top: 30px;
  top: 0;
}
.three {
  bottom: 0px;
}
.header {
  flex-grow: 1;
  font-size: 1.2rem;
}
.othercontainer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.album-header {
  background-color: #9A9C8C;
  color: #FFFFFF;
  flex-grow: 1;
  font-size: 1.6rem;
  height: 150px;
  position: relative;
}
.album-header span{
  position: absolute;
  bottom: 0px;
  left: 40px;
}
.album-showcase {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 200px;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
}
.album-showcase img {
  flex: 0 0 auto;
}
 .album-art {
  height: 100px;
  margin: 0px 30px;
  width: 100px;
}
.album-info-container {
  background-color: #EEEEEE;
  display: flex;
  outline: 1px solid black;
  height: 150px;
  margin-top: 40px;
  margin-left: 5%;
  overflow-y: scroll;
  width: 90%;
}
.album-info-buttons {
  align-items: center;
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
}
.album-info-buttons button {
  background-color: #343625;
  color: white;
  font-size: 1.2rem;
}
.footer {
  background-color: #676958;
  bottom: 0;
  color: #DADAD7;
  font-size: 1.6rem;
  height: 2.4rem;
  padding-left: 5rem;
  position: absolute;
  width: 94.45%;
}
